#container-page {
  width: 30rem;
  height: 20rem;

  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

  background: var(--title70);

  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  #white-page {
    padding: 1rem;
    background: var(--green);
    border: 1px solid var(--green);

    border-radius: 0.5rem;
    color: var(--white);

    &:hover {
      text-decoration: none;
      background-color: rgb(68, 156, 130);
    }
  }

  @media (max-width: 508px) {
    width: 90%;
    height: 40rem;

    #white-page {
      width: 80%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
