* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f7f6fb;

  --title100: #575757;
  --title90: #919193;
  --title80: #a7a6a9;
  --title70: #d8d9de;
  --title60: #e9eaec;

  --decoration: #b8b8b8;

  --white: #ffffff;
  --green: #67b093;
}

body {
  background: var(--background);
}

h1,
h2,
p,
span,
input,
summary,
a,
li {
  font-family: Roboto, sans-serif;
}

details {
  summary {
    list-style: none;
  }
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: var(--title90);
  }

  &:hover {
    text-decoration: underline;
  }
}
