* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f7f6fb;

  --title100: #575757; // title Curso
  --title90: #919193; // breadcrumb active page and title card
  --title80: #a7a6a9; // titulo da trilha do curso e porcentagem de progresso
  --title70: #d8d9de; // subtitulos, textos pequenos
  --title60: #e9eaec; // subtitulos, textos pequenos

  --decoration: #b8b8b8;

  --white: #ffffff;
  --green: #67b093;
  --red: #e74a3b;
}

body {
  background: var(--background);
}

h1,
h2,
p,
span,
input,
summary,
a {
  font-family: Roboto, sans-serif;
}

details {
  summary {
    list-style: none;
  }
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: var(--title90);
  }

  &:hover {
    text-decoration: underline;
  }
}

// body,
// input,
// button,
// textarea {
//   font: 400 1rem "Roboto", sans-serif;
// }

// ul {
//   list-style: none;
// }

// button {
//   cursor: pointer;
// }

// body {
//   overflow-y: hidden;
// }

// .wrapper {
//   display: flex;

//   main {
//     flex: 1;
//     overflow-y: scroll;
//   }

//   @media (max-width: 589px) {
//     .sidebar-container {
//       display: none;
//     }
//   }
// }
